spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080

logging:
  level:
    root: info

hash:
  storage:
    max-size-cached-queue: 1000
    threshold-to-refill-cached-queue: 20
    hash-range: 100
    range-unique-numbers: 100
    batch-size-generated-hashes: 100
    initial-warmup-amount: 100

executor:
  pool-size: 10
  max-pool-size: 15
  queue-capacity: 500
  aliveTime: 60

scheduler:
  cleanup-cron: "0 0 0 * * *"
  clean-period: 1

retry:
  maxAttempts: 5
  sleep: 10

app:
  base-url: http://localhost:8080